body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #434455;
  background-color: #ffffff;
}

/* remove the page scroll when the modal is open */

body.modal-open {
  overflow: hidden;
}

/* normalize */
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;

  @media screen and (max-width: 1157px) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/* container */

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

/* button */

.button {
  width: 169px;
  height: 56px;
  gap: 10px;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border: none;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* <!-- header --> */

.header-page {
  position: relative;
  border-bottom: 1px solid #e7e9fc;

  @media screen and (max-width: 767px) {
    min-height: 56px;
    display: flex;
    align-items: center;
  }
}

.header-page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #4d5ae5;
}

.header-logo-span {
  color: #2e2f42;

  @media screen and (max-width: 1157px) {
    margin-right: 120px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 76px;
  }
}

/* menu mobil header*/

.header-mob-menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.mob-menu {
  z-index: 999;
}

.header-mob-menu-button .mob-menu-icon-close {
  display: none;
}

.header-mob-menu-button.is-open .mob-menu-icon-close {
  display: block;
}

.header-mob-menu-button.is-open .mob-menu-icon {
  display: none;
}

.header-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding-top: 72px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 40px;
    overflow: auto;

    &.is-open {
      display: block;
    }
  }
}

.header-nav-list {
  font-weight: 500;
  color: #2e2f42;

  display: flex;

  @media screen and (max-width: 767px) {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 168px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 121px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 332px;
  }
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  color: #2e2f42;

  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #404bbf;
}

.current-page {
  color: #404bbf;
}

.header-nav-link.current-page::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
}

.header-contact {
  display: flex;

  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 20px;

    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;

    margin-bottom: 48px;
    color: #4d5ae5;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    flex-direction: column;
  }

  @media screen and (min-width: 1158px) {
    font-size: 16px;
    flex-direction: row;
  }
}

.header-contact-tel .header-contact-link {
  @media screen and (max-width: 767px) {
    color: #4d5ae5;
  }
}

.header-contact-tel {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.header-contact-link {
  font-family: 'Roboto';
  color: #434455;
}

.header-contact-link:hover,
.header-contact-link:active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-mail {
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 40px;
  }
}

.header-social {
  display: none;
  @media screen and (max-width: 767px) {
    display: flex;
    gap: 40px;
    /* margin-bottom: 40px; */
  }
}

.header-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 40px;
  width: 40px;

  border-radius: 50%;
  background-color: #404bbf;
}

/* <!-- main --> */

/* <!-- Order Service --> */

/* Hero */
.section-order-service {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2e2f42;

  max-width: 320px;
  max-height: 432px;

  padding-top: 72px;
  padding-bottom: 72px;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-dark-bg-320@x1.jpg');
  background-size: 320px 432px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-order-service {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-dark-bg-320@x2.jpg');
  }
}

@media screen and (min-width: 576px) {
  .section-order-service {
    max-width: 768px;
    max-height: 436px;

    padding-bottom: 112px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-dark-bg-768@x1.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-order-service {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-dark-bg-768@x2.jpg');
    }
  }
}

@media screen and (min-width: 992px) {
  .section-order-service {
    max-width: 1440px;
    max-height: 600px;

    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-dark-bg-1140@x1.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-order-service {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/hero-dark-bg-1140@x2.jpg');
    }
  }
}

.order-service-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.1;

  margin-top: 0;
  margin-bottom: 48px;

  @media screen and (max-width: 767px) {
    font-size: 36px;

    padding-left: 2px;
    margin-bottom: 72px;
  }
}

.order-service-btn {
  font-family: inherit;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
}

/* order modal */

.order-modal-close {
  position: absolute;
  display: flex;
  align-self: flex-end;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 24px;

  outline: none;
  cursor: pointer;

  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.oarder-modal-icon {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-close:hover,
.order-modal-close:focus {
  fill: #fff;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-icon-position {
  position: relative;
}

.order-modal-input-icon {
  position: absolute;
  top: 8px;
  left: 16px;
}

.order-modal-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: #2e2f42;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  margin-bottom: 16px;
}

.order-modal-input-title {
  display: flex;
  align-self: flex-start;
  font-size: 12px;
  line-height: 1.5;
  color: #8e8f99;
  margin-bottom: 4px;
}

.order-modal-input-text {
  position: inherit;
  width: 360px;
  height: 40px;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 8px;
  padding-left: 40px;
  padding-right: 16px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;

  @media screen and (max-width: 767px) {
    max-width: 256px;
  }
}

.order-modal-input-text:focus {
  border: 2px solid #4d5ae5;
}

.order-modal-input-text:focus + .order-modal-input-icon {
  fill: #4d5ae5;
}

.order-modal-textarea-text:focus {
  border: 2px solid #4d5ae5;
}

.order-modal-input-text:placeholder-shown {
  border-color: #4d5ae5;
}

.order-modal-textarea-text {
  font-family: inherit;
  line-height: inherit;
  font-size: 12px;

  resize: none;
  width: 360px;
  height: 120px;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;

  @media screen and (max-width: 767px) {
    max-width: 256px;
  }
}

.order-modal-accept {
  position: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.order-modal-input-checkbox {
  appearance: none;
}

.order-modal-checkbox-icon {
  fill: #8e8f99;
  border-radius: 2px;
}

.icon-check {
  position: absolute;
  fill: #ffffff;
  background: #404bbf;
  border: 0.2px solid #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-input-checkbox:checked ~ .icon-check {
  opacity: 1;
}

.order-modal-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.order-modal-agre {
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  line-height: inherit;
  color: rgba(142, 143, 153, 1);
  margin-left: 8px;
  margin-right: 6px;
}

.modal-order-agre-active {
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  text-decoration: underline;
  color: #4d5ae5;

  @media screen and (max-width: 767px) {
    margin-left: 8px;
  }
}

.order-container-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}

.order-container-overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.order-container-overlay.is-hidden .order-modal {
  transform: translate(-50%, -50%) scale(3);
}

.order-modal {
  display: flex;
  flex-direction: column;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    max-width: 288px;
    height: 623px;
    padding: 24px 16px;
  }

  @media screen and (min-width: 768px) {
    max-width: 408px;
    height: 584px;
    padding: 24px;
  }
}

.order-modal-btn {
  margin-left: auto;
  margin-right: auto;
}

/* <!-- Our advantages --> */

.our-advantage-title {
  text-align: center;
}

.our-advantage-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  width: 264px;
  height: 112px;

  background-color: #f5f4fa;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  @media screen and (max-width: 1157px) {
    display: none;
  }
}

.our-advantage-flex {
  display: flex;

  @media screen and (max-width: 767px) {
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  @media screen and (max-width: 1157px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    margin-right: -24px;
  }
}

.our-advantage-wrap {
  @media screen and (max-width: 1157px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 48px) / 2);
    margin-right: 24px;
  }
}

.our-advantage-heading {
  color: #2e2f42;
  margin-bottom: 8px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (max-width: 1157px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.our-advantage-text {
  @media screen and (max-width: 1157px) {
    font-weight: 500;
    line-height: 1.5;
  }
}

/* <!-- Our Team --> */

.section-our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  margin-bottom: 72px;
}

.our-team-flex {
  text-align: center;
  gap: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.our-team-border {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-img {
  margin-bottom: 32px;
}

.our-team-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  margin-bottom: 8px;
}

.our-team-text {
  font-family: 'Roboto';
  margin-bottom: 8px;
}
.our-team-social {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 32px;
  margin-right: 16px;
  margin-left: 16px;

  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}

.our-team-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 40px;
  width: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;
  transition-duration: 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-item:hover,
.our-team-social-item:active {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* <!-- Our portfolio --> */

.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;

  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;
}

.our-portfolio-flex {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-portfolio-border {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px #e7e9fc;
  margin-bottom: 48px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
    margin-right: 24px;
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
    margin-bottom: 48px;
  }
}

.our-portfolio-flex .our-portfolio-border:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    margin-right: 0;
  }
}

.our-portfolio-border:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    margin-bottom: 0;
  }
}

.our-portfolio-flex .our-portfolio-border:nth-child(3n) {
  @media screen and (min-width: 1158px) {
    margin-right: 0;
  }
}

.our-portfolio-border:nth-last-child(-n + 3) {
  @media screen and (min-width: 1158px) {
    margin-bottom: 0;
  }
}

.our-portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}

.our-portfolio-shadow {
  display: block;
  text-decoration: none;
}

.our-portfolio-border .our-portfolio-shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  color: #ffffff;
  background-color: #4d5ae5;
}

.our-portfolio-border:hover .our-portfolio-overlay {
  transform: translateY(0);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  padding-left: 16px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.our-portfolio-text {
  cursor: pointer;
  margin-bottom: 32px;
  padding-left: 16px;
  color: #434455;
}

/* <!-- footer --> */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-wrapper {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 552px;
    text-align: start;
    flex-wrap: wrap;
  }
}

.fotter-logo-wrapper {
  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.footer-logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  @media screen and (max-width: 1157px) {
    margin-right: 24px;
    margin-bottom: 72px;
  }
}

.footer-social-media {
  /* @media screen and (min-width: 768px) {
    margin-right: 24px;
  } */

  @media screen and (min-width: 1158px) {
    margin-right: 80px;
  }
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-social-flex {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @media screen and (max-width: 767px) {
    justify-content: center;
    margin-bottom: 72px;
  }
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 8px;

  height: 40px;
  width: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-lable {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 24px;
  }
}

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-input-text {
  font-size: 12px;
  line-height: 2;
  color: #ffffff;

  width: 264px;
  height: 40px;

  background-color: #2e2f42;
  border-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  padding-left: 16px;

  @media screen and (max-width: 767px) {
    width: 288px;
  }
}

.footer-input-text::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 8px;
}

.footer-form {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.footer-btn-wrap {
  position: relative;

  @media screen and (max-width: 767px) {
    align-self: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  gap: 16px;
  width: 165px;
  height: 40px;

  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 24px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-icon-send {
  position: absolute;
  top: 8px;
  left: 117px;
}
