body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #434455;
  background-color: #ffffff;
}
/* normalize */
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* container */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}

/* button */
.button {
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  cursor: pointer;
}

/* <!-- header --> */
.header-page {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-page-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #4d5ae5;
}

.header-logo-span {
  color: #2e2f42;

  margin-right: 76px;
}

.header-nav-link {
  font-weight: 500;
  color: #2e2f42;

  display: flex;
}

/* .header-nav-item {
  margin-right: 40px;
}

.header-nav-item:last-child {
  margin-right: 0;
} */

.header-nav-item {
  font-family: 'Roboto';
  color: #2e2f42;
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-contact {
  display: flex;
  margin-left: auto;
  /* margin-left: 332px; */
}

.header-contact-link {
  font-family: 'Roboto';
  color: #434455;
}

.header-contact-mail {
  margin-right: 40px;
}

/* <!-- main --> */

/* <!-- Order Service --> */
.section-order-service {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.order-service-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;

  /* text-align: center; */

  margin-top: 0;
  margin-bottom: 48px;
}

.order-service-btn {
  font-family: inherit;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
}

/* <!-- Our advantages --> */
.our-advantage-title {
  text-align: center;
}

.our-advantage-flex {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px;
}

.our-advantage-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  margin-bottom: 8px;
}

/* <!-- Our Team --> */
.section-our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  margin-bottom: 72px;
}

.our-team-flex {
  display: flex;
  text-align: center;
  gap: 24px;
}

.our-team-border {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-img {
  margin-bottom: 32px;
}

.our-team-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  margin-bottom: 8px;
}

.our-team-text {
  margin-bottom: 32px;
  font-family: 'Roboto';
}

/* <!-- Our portfolio --> */
.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;

  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;
}

.our-portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.our-portfolio-border {
  background-color: #ffffff;
  /* border-radius: 0px 1px 1px 1px; */
  /* border-color: #e7e9fc; */
  box-shadow: 0px 1px 1px 1px #e7e9fc;
}

.our-portfolio-img {
  margin-bottom: 32px;
}

.our-portfolio-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  padding-left: 16px;
  margin-bottom: 8px;
}

.our-portfolio-text {
  margin-bottom: 32px;
  padding-left: 16px;
}

/* <!-- footer --> */
.footer {
  background-color: #2e2f42;

  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: #4d5ae5;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;

  margin-top: 16px;
}
/* ================================================== hover*/
/* .link {
  color: teal;
  text-decoration: none;
}

.link:hover {
  color: tomato;
} */
/* .social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
} */
/* =============================================== hover+active*/
/* .social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: orange;
}

.social-links .link:active {
  color: red;
} */
/* ======================================================= hover+focus */
/* .social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: orange;
} */
/* ====================================================== */
