/* * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #edf2f7;
}

.card-set {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
  gap: 4px;
}

.item {
  padding: 4px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #212121;
}

@media (min-width: 600px) {
  .card-set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    .item {
      flex-basis: calc((100% - 8px) / 2);
    }
  }
}

@media (min-width: 900px) {
  .card-set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;

    .item {
      flex-basis: calc((100% - 24px) / 4);
    }
  }
} */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images-svg/hero/hero-backgraund-480px@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images-svg/hero/hero-backgraund-480px@2x.jpg');
  }
}

@media screen and (min-width: 576px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images-svg/hero/hero-backgraund-768px@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images-svg/hero/hero-backgraund-768px@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images-svg/hero/hero-backgraund-1600px@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images-svg/hero/hero-backgraund-1600px@2x.jpg');
    }
  }
}
